HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/
/.gitignore
/build.gradle
/test.lck
/test.log
/test.properties
/test.script
/src/main/resources/application.properties.lck
/src/main/resources/application.properties.log
/src/main/resources/application.properties.properties
/src/main/resources/application.properties.script
